%p
  = link_to user_path(comment.user) do
    =image_tag(comment.user.avatar,width: "64",height: "64")
  = comment.comment_text
  = link_to "DELETE",prototype_comment_path(comment.proto,comment),method: :delete,remote: true
