.col-sm-4.col-md-3.proto-content
  .thumbnail
    =link_to image_tag(prototype.images.main.first.photo), prototype_path(prototype)
    .caption
      %h3
        =prototype.title
      .proto-meta
        .proto-user
          =link_to "#{prototype.user.name}",user_path(prototype.user)
        .proto-posted
          = prototype.created_at.strftime("%Y/%m/%d(#{%w(日 月 火 水 木 金 土)[prototype.created_at.wday]})")
        %ul.proto-tag-list.list-inline
          %li
            %a{href: "#", class: "btn btn-default"} iPad
          %li
            %a{href: "#", class: "btn btn-default"} wireframe
