.container.user-new{action: ""}
  =form_for @user do |f|
    .col-md-8.col-md-offset-2
      %header.row.user-nav.row
        .col-md-12
          %h2 Edit Profile
          .user-name_image.row
            .user-name.col-md-10
              =f.text_field :name, placeholder:"Write your name",autofocus:true,required: true
            / .user-image.col-md-2{:style: 'background-image: url(http://泣ける動画.com/wp-content/uploads/2015/01/t0205-01.jpg);'}
            / %button.btn.btn-primary Change image
            / %input{type: "file"}/
          .user-email
            =f.text_field :email,placeholder: "Wite your email",required: true
          =f.text_field :password, class: ".user-password", placeholder: "Password"
        .col-md-12
          %h4 Member of
          .user-user-member.row
            .user-name.col-md-12
              =f.text_field :position, placeholder: "Member"
          %h4 Profile
          .user-user-profile.row
            .user-name.col-md-12
              = f.text_area :profile, cols: "30", rows: "4", placeholder: "Profile"
          %h4 Works
          .user-name_image.row
            .user-name.col-md-12
              =f.text_area :occupation, cols: "30", rows: "4", placeholder: "Works"
      .row.text-center.user-btn
        =f.submit "Save",id:"button",class: "btn btn-lg btn-primary btn-block"
