.container.user-page
  %header.user-nav
    .media
      .media-left
        %a{href: "#"}
          %img.media-object
            = image_tag(@user.avatar,width: "64",height: "64")
      .media-body
        %h4#top-aligned-media.media-heading
          = @user.name
          %span.label.label-default.project-number
            29
            %i Projects
        .proto-user
          %span.degree 
            = @user.position
        .row
          .col-md-6
            %h4 Profile
            %p 
              =@user.profile
          .col-md-6
            %h4 Works
            %p 
            =@user.occupation
.container.proto-list
  .row
    =render partial: 'prototypes/prototype', collection: @prototypes
