.filter-nav
  .container
    .row
      %ul.nav.nav-pills.col-lg-11
        %li.active{role: "presentation"}
          =link_to 'Popular PROTO',populars_path
        %li.active{role: "presentation"}
          =link_to 'Newest PROTO',newests_path
      = button_tag class: "btn btn-default col-lg-1" do
        = link_to 'view tag',tags_path
.container
  .row
    .tags-list
      %h2
        Tags list
      %ul
        - @tags.each do |tag|
          %li.col-md-4
            = link_to tag.name, tag_path(tag.id), class: "btn btn-default"
